.btn-save {
    -fx-background-color: #1A5319;
    /*-fx-background-radius: 40px;*/
    -fx-text-fill: white;
/*    -fx-border-width: 5;
    -fx-border-style: solid;
    -fx-border-color: #1A5319;
    -fx-border-radius: 20px;*/
}

.btn-save:hover{
    -fx-background-color: #508D4E;
}

.btn-update {
    -fx-background-color: #0F67B1;
    -fx-text-fill: white;
}

.btn-update:hover {
    -fx-background-color: #3FA2F6;
}

.btn-delete {
    -fx-background-color: #C40C0C;
    -fx-text-fill: white;
}

.btn-delete:hover {
    -fx-background-color: #FF6500;
}

.icon {
    -fx-fill: white;
}

.sidebar {
    -fx-background-color: #153448;
}

.btn-sidebar {
    -fx-background-color: #153448;
    -fx-text-fill: white;
}

.btn-sidebar:hover {
    -fx-background-color: #3C5B6F;
}

.txt-incoming {
    -fx-text-fill: #049e32;
    -fx-background-radius: 20px;
}

.txt-outgoing {
    -fx-text-fill: #da3c3e;
    -fx-background-radius: 20px;
}

.txt-rounded-background {
    -fx-background-radius: 20px;
}

.hbox-bordered {
    -fx-border-color: #EEE;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.btn-add {
    -fx-background-color: #640D6B;
    -fx-text-fill: white;
}

.btn-add:hover {
    -fx-background-color: #B51B75;
}


.btn-open {
    -fx-background-color: #9B4444;
    -fx-text-fill: white;
}

.btn-open:hover {
    -fx-background-color: #C68484;
}
